# COG260 Final Project
## Group: Victor Cho & Tony Niu
## Date: Monday, December 14, 2020
## Personality Prediction

In [2]:
# import statements
import pandas as pd
import numpy as np
# import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
# import dataset
df = pd.read_csv ('mbti_1.csv')

df.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [9]:
# number of users who identify as a specific personality
df.groupby('type').agg({'type':'count'})

      type
type
ENFJ   190
ENFP   675
ENTJ   231
ENTP   685
ESFJ    42
ESFP    48
ESTJ    39
ESTP    89
INFJ  1470
INFP  1832
INTJ  1091
INTP  1304
ISFJ   166
ISFP   271
ISTJ   205
ISTP   337

In [10]:
# data_lm = TextLMDataBunch.from_csv(path, ‘mbti_1.csv’)

SyntaxError: invalid character in identifier (<ipython-input-10-f0510991ea7f>, line 1)